<span th:switch="${accessToken !=null}">
  <span th:case="true">
    <h3>@RegisteredOAuth2AuthorizedClient accessToken</h3>
  	
  	<table>
  	<tr>
  		<td>tokenType</td>
  		<td>[[${accessToken.getTokenType().getValue()}]]</td>
  	</tr>
  	<tr>
  		<td>Scopes</td>
  		<td>[[${accessToken.getScopes()}]]</td>
  	</tr>
  	<tr>
  		<td>Issued At</td>
  		<td>[[${accessToken.getIssuedAt()}]]</td>
  	</tr>
  	<tr>
  		<td>Expires At</td>
  		<td>[[${accessToken.getExpiresAt()}]]</td>
  	</tr>
  	</table>
  	
  	<br/>
  	[[${accessToken.getTokenValue()}]]
  	
  	
  </span>
  <span th:case="false">There was no accessToken available</span>
</span>