<span th:switch="${accessToken !=null}">
  <span th:case="false">There was no accessToken available</span>
  <span th:case="true">
    <h3>@RegisteredOAuth2AuthorizedClient accessToken</h3>
  	
  	<table>
  	<tr>
  		<td>tokenType</td>
  		<td>[[${accessToken.getTokenType().getValue()}]]</td>
  	</tr>
  	<tr>
  		<td>Scopes</td>
  		<td>[[${accessToken.getScopes()}]]</td>
  	</tr>
  	<tr>
  		<td>Issued At</td>
  		<td>[[${accessToken.getIssuedAt()}]]</td>
  	</tr>
  	<tr>
  		<td>Expires At</td>
  		<td>[[${accessToken.getExpiresAt()}]]</td>
  	</tr>
  	</table>
  	
  	<br/>
  	[[${accessToken.getTokenValue()}]]
  	
<script>
var url = "http://localhost:8081";
var bearer = 'Bearer [[${accessToken.getTokenValue()}]]';
fetch(url, {
        method: 'GET',
        withCredentials: true,
        credentials: 'include',
        headers: {
            'Authorization': bearer,
        }
    }).then(responseJson => {
        var items = JSON.parse(responseJson._bodyInit);
    })
    .catch(error => this.setState({
        isLoading: false,
        message: 'Something bad happened ' + error
    }));
</script>  	

<h3>Test
  	
  	
  </span>
</span>